body
{
	background-color: #F1F4F9;
	font-size: 16px;
	width: 100%;	
	font-family: 'Lato', sans-serif;
	margin: 0px;
}

.topbar
{	
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #D3DDE9;
	text-align: center;		
	color: #060B95;
	padding: 10px;		
	border: 1px solid  #c2cce8;
}

.topbar > p
{
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;	
	text-align: justify;
}

h1.logo
{	
	font-size: 60px;	
	letter-spacing: 3px;	
	margin: 10px;
	padding: 5px;
}

.autor
{
	color: black;
	text-shadow: none;
	
}

.container
{
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;	
	
}

/* //////////////////  REJESTRACJA  /////////////////////// */

h2.register
{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	letter-spacing: 2px;
	color: #25a02b;	
}

input[type=text],
input[type=email],
input[type=password]
{
	font-family: 'Lato', sans-serif;
	width: 270px;
	background-color: white;
	color: #25a02b;	
	border: 1px  solid #9DC7F7;
	border-radius: 0px 5px 5px 0px;
	font-size: 16px;	
	padding: 3px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus
{
	-webkit-box-shadow: 0px 0px 5px 1px rgba(165,205,165,0.9);
	-moz-box-shadow: 0px 0px 5px 1px rgba(165,205,165,0.9);
	box-shadow: 0px 0px 5px 1px rgba(165,205,165,0.9);
	border: 1px solid #a5cda5;
	background-color: #e9f3e9;
	color: #317b31;
}

input[type=submit]
{
	font-family: 'Lato', sans-serif;
	width: 300px;
	background-color: #25a02b;
	font-size: 20px;
	color: white;
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit]:focus
{
	-webkit-box-shadow: 0px 0px 5px 5px rgba(165,205,165,0.9);
	-moz-box-shadow: 0px 0px 5px 5px rgba(165,205,165,0.9);
	box-shadow: 0px 0px 5px 5px rgba(165,205,165,0.9);
}

input[type=submit]:hover
{
	background-color: #36b13c;
}

/* Zmiana koloru czcionki placeholdera */
input::-webkit-input-placeholder
{
    color: #999;		
}
input:focus::-webkit-input-placeholder
{
    color: #25a02b;	
}
/* Firefox < 19 */
input:-moz-placeholder
{
    color: #999;	
}
input:focus:-moz-placeholder
{
    color: #25a02b;
}
/* Firefox > 19 */
input::-moz-placeholder
{
    color: #999;	
}
input:focus::-moz-placeholder
{
    color: #25a02b;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder
{
    color: #999;	
}
input:focus:-ms-input-placeholder
{
    color: #25a02b;
}

.icon
{
	float: left;
	margin-top: 10px;	
	font-size: 16px;	
	padding: 3px;	
	border-top: 1px solid #9DC7F7;
	border-bottom: 1px solid #9DC7F7;
	border-left: 1px solid #9DC7F7;
	border-radius: 5px 0px 0px 5px; 
	background-color: #e9f3e9;
	color: #25a02b;
}

/* //////////////////  FOOTER  /////////////////////// */

.info
{
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;	
	text-align: center;
	font-size: 14px;
	position: fixed;
	bottom: 0;
	left: 0;
	background-color: #D3DDE9;
	padding: 3px;
	border: 1px solid  #c2cce8;
	color: #060B95;
}

/* //////////////////  LOGOWANIE  /////////////////////// */

h2.login
{
	width: 280px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0px;
	margin-top: 0px;
	text-align: center;
	padding: 10px;
	font-size: 30px;
	letter-spacing: 2px;
	color: #060B95;
}

input[type=text].login,
input[type=email].login,
input[type=password].login
{
	font-family: 'Lato', sans-serif;
	width: 270px;
	background-color: white;
	color: #060B95;
	border: 1px  solid #9DC7F7;
	border-radius: 0px 5px 5px 0px;
	font-size: 16px;	
	padding: 3px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}

input[type=text].login:focus,
input[type=email].login:focus,
input[type=password].login:focus
{
	-webkit-box-shadow: 0px 0px 5px 1px rgba(157,199,247,0.9);
	-moz-box-shadow: 0px 0px 5px 1px rgba(157,199,247,0.9);
	box-shadow: 0px 0px 5px 1px rgba(157,199,247,0.9);	
	background-color: #F1F4F9;
	color: #060B95;
}

input[type=submit].login
{
	font-family: 'Lato', sans-serif;
	width: 300px;
	background-color: #060B95;
	font-size: 20px;
	color: white;
	padding: 10px;
	margin-top: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

input[type=submit].login:focus
{
	-webkit-box-shadow: 0px 0px 5px 5px rgba(157,199,247,0.9);
	-moz-box-shadow: 0px 0px 5px 5px rgba(157,199,247,0.9);
	box-shadow: 0px 0px 5px 5px rgba(157,199,247,0.9);
}

input[type=submit].login:hover
{
	background-color: #050a84;
}

/* Zmiana koloru czcionki placeholdera */
input.login::-webkit-input-placeholder
{
    color: #999;		
}
input.login:focus::-webkit-input-placeholder
{
    color: #060B95;
}
/* Firefox < 19 */
input.login:-moz-placeholder
{
    color: #999;	
}
input.login:focus:-moz-placeholder
{
    color: #060B95;
}
/* Firefox > 19 */
input.login::-moz-placeholder
{
    color: #999;	
}
input.login:focus::-moz-placeholder
{
    color: #060B95;
}
/* Internet Explorer 10 */
input.login:-ms-input-placeholder
{
    color: #999;	
}
input.login:focus:-ms-input-placeholder
{
    color: #060B95;
}

.iconlogin
{
	float: left;
	margin-top: 10px;	
	font-size: 16px;	
	padding: 3px;	
	border-top: 1px solid #9DC7F7;
	border-bottom: 1px solid #9DC7F7;
	border-left: 1px solid #9DC7F7;
	border-radius: 5px 0px 0px 5px; 
	background-color: #F1F4F9;
	color: #060B95;
}

/* //////////////////  MENU  /////////////////////// */

.menu
{	
	list-style-type: none;
	margin: 0px;	
	text-align: center;
	background-color: #d8e2d8;	
	padding: 0;
	border-bottom: 1px solid #a5cda5;
}

.menu > li
{
	display: inline-block;		
}

.menu a
{
	display: block;
	width:150px;	
	height: 36px;
	text-decoration: none;	
	color: #0C4905;
	margin: 2px 0px;	
}

.menu a:hover
{	
	color: #060B95;	
	background-color: #F1F4F9;	
	border: 1px solid  #060B95;
    width: 148px;	
	height: 34px;
}

.menu a:focus
{	
	color: white;	
	background-color: #060B95;
	border: 1px solid  #050a84;
	width: 148px;	
	height: 34px;
	
	
}

.napis
{
	padding-top: 6px;
}

#powitanie
{
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	
}

#powitaniesentecja
{
	width: 480px;
	height: 280px;
	float: left;
	padding: 10px;
	line-height: 200%;
	text-align: justify;
	font-size: 20px;
	color: #060B95
}

#powitanieobraz
{
	width: 250px;
	height: 250px;
	float: left;
	margin: 25px;	
}