
.icon-money:before { content: '\e800'; } /* '' */
.icon-lock:before { content: '\e801'; } /* '' */
.icon-mail-3:before { content: '\e809'; } /* '' */
.icon-user-3:before { content: '\e80a'; } /* '' */
.icon-lock-3:before { content: '\e80e'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-calc:before { content: '\f1ec'; } /* '' */
